[class*="big"] {
    color: blue;
}

.container div {
    border: 1px solid green;
    width: 260px;
}

body {
    font-weight: bold;
}

p {
    font-weight: normal;
    background-color: yellow;
    width: 260px;
}