p {
    text-align: center;
    color: #A32B2B;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0px solid white;
}


p:nth-child(1) {
    background-color: #FF3933;
    margin-bottom: 10px;
    position: left;
}