body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    width: 620px;
    height: 780px;
    box-sizing: border-box;
    background-color: #E2DBDB;
    margin: 0 auto;

}

article {
        border: 14px solid transparent;

        box-sizing: border-box;
        float: left;
    }

.box1 {
    width: 620px;
    height: 48px;
    margin-bottom: 16px;
    font-weight: normal;
    margin-top: 0px;   
    color: #595959;
    font-size: 30px; 
}




.box2, .box3 {
    display: inline-block;
    width: 310px;
    height: 410px;
    margin: 0 0 16px 0;
}
.box2 div, .box3 div {
    width: 282px;
    height: 40px;
    background-color: #A9A9A9;
    border-radius: 5px;  
}

.box2 *:not(span), .box3 *:not(span) {
    display: block;
    margin: 5px;
    font-size: 13px;
    font-weight: bold; 
}


.box2 > div, .box3 > div {
    margin: 0 0 20px 0;
}

.box2 span, .box3 span {
    color: white;
    line-height: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
}


.box4 textarea {
    height: 185px;
    width: 592px;
    background-color: white;
}

.box1 h2 {
    display: inline-block;

}

.box4 p {

}

