<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FOX</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body>
    <ul>
        <li>
            <a th:href="@{/nutrition}">Nutrition Store</a>
        </li>
    </ul>
    <img th:src="${alive} ? 'greenfox.png' : 'greenfoxdead.png'" alt="Mountain View"/>
    <p th:text="${alive} ? 'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. He knows ' + ${tricks} + ' tricks.' : 'Dont feed your fox poision'"></p>
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>